<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Genesis Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">GENESIS<span>.</span></a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>


          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#about" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1></h1>
          <h1>Welcome to Genesis<span>....</span></h1>
          <h2>Genesis is a platform for our local farmers to be able to gain
            insights on the soil on their farms and how well to utilise that soil.
            This is done by giving farmers the best recommendation on which crop can thrive in their soils using :</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="#">Internet of Things</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="#">Machine Learning</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="#">Web Development</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>GENESIS, A SMART WAY TO FARM!!</h3>
            <p class="fst-italic">
              Genesis is Web Based application that has been integrated with a
              machine learning model which recommends an appropriate crop to be planted
              with reference to different soil properties. Using IoT devices, soil monitoring has been made possible.
              This is accomplished by collecting and analyzing soil data. The web application takes input
              from farmers and submits that data to the machine learning model
              which then analyzes the data then gives a recommendation to the farmer. Input collected includes:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Nitrogen Levels [N]</li>
              <li><i class="ri-check-double-line"></i> Phosphorate Levels [P]</li>
              <li><i class="ri-check-double-line"></i> Potassium Levels [K]</li>
              <li><i class="ri-check-double-line"></i> Temperature</li>
              <li><i class="ri-check-double-line"></i> pH</li>
              <li><i class="ri-check-double-line"></i> Rainfall</li>
            </ul>
          </div>
        </div>

      </div>

      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("assets/img/features.jpg");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>IoT Devices</h4>
              <p>Genesis uses IoT devices to collect the soil properties stated above.
                A diagram representation of these devices is shown on the Left.
                The metal stips attached to it collect these data and display real time
                information on the display screen embedded to them.</p>
            </div>

            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Machine Learning</h4>
              <p>For the prediction to be done, we need a dependable model that can give us accurate results.
              for these results to be obtained, Genesis used Logistic regression as a machine learning model to accomplish
              its objectives. The model collects soil data from the IoT devices, then using a trained model, it predicts
              which crop could flourish given the soil properties given. Without machine learning, the prediction can not happen.</p>
            </div>

            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-images"></i>
              <h4>Web Application</h4>
              <p>The model so far is partially complete. or it to be fully complete and functional,
                we need a link thet will join the Machine Learning model to the data collected by
                the IoT devices. The web application provides a user-friendly user interface
                that explains the services offered, an explanation of the project and most importantly,
                a platform where users can put in soil properties to be analysed and for a prediction to come from the data.
                Genesis combines the web application to the machine learning model as it is easier for farmers
                to understand and use. Through our services section, farmers can easily
                input the collected soil properties for the model to predict.</p>
            </div>
            <div>
              <i class="bx bx-shield"></i>
              <h4>Conclusion</h4>
              <p>A combination of the components stated above make up GENESIS!! which provides a smart way to farm.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Check our Services</p>
        </div>

        <div class="centre" class="main-block">
          <h4>Put Soil Properties Below Respectively...</h4>
            <form action="{{ url_for('predict')}}" method="post" id="contactForm">

                  <div class="input">
                      <input type="number" name="N" placeholder="Nitrogen Levels" required/>
                  </div>

                  <div class="input">
                      <input type="number" name="P" placeholder="Phosphorate Levels" required/>
                  </div>

                  <div class="input">
                      <input type="number" name="K" placeholder="Potassium Levels" required/>
                  </div>

                  <div class="input">
                      <input type="number" name="temperature" placeholder="Temperature" required/>
                  </div>

                  <div class="input">
                      <input type="number" name="humidity" placeholder="Humidity" required/>
                  </div>

                  <div class="input">
                      <input type="number" name="ph" placeholder="pH" required/>
                  </div>

                   <div class="input">
                      <input type="number" name="rainfall" placeholder="Rainfall" required/>
                  </div>

                  <div class="button">
                      <button type="submit">Submit Soil Properties</button>
                  </div>
              </form>
          {{ prediction_text }}
    </div>


      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>CALL TO ACTION!!!</h3>
          <p>Smart farming is a new trend in farming, and it should be highly embraced by our community and our members.
          It is very different from our normal methods, but it is a more beneficial and efficient way of farming.
            We should embrace it, and it will take care of our community in the long run. Let our local farmers be educated on
            it, and they will benefit heavily from it.
          </p>
        </div>
      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>



        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Nairobi, Kenya</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>genesis@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+254 794 655 918</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>

                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
                <a href="https://mail.google.com/mail/u/0/#inbox">
                <div class="text-center" ><button type="submit" >Send Message</button></div>
                </a>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>