<!DOCTYPE html>
<html>
  <head>
    <title>Genesis LogIn</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="urembo.css">
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">


  </head>
  <body style="background: url(assets/img/cta-bg.jpg)">
    <div class="main-block">
      <h1>SIGN IN</h1>

       <form action="index.html" id="contactForm">
            <div class="alert">Your message sent</div>

            <div class="inputBox">
                <input type="email" id="email" placeholder="Email Address" required/>
            </div>

            <div class="inputBox">
                <input type="text" id="name" placeholder="UserName" required/>
            </div>

            <div class="inputBox">
                <input type="password" id="password" placeholder="Password" required/>
            </div>


            <div class="inputBox">
                <button type="submit">Log In</button>
            </div>
        </form>

    </div>
  </body>
</html>